<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="wlj.car.dao.UserMapper">
    <select id="login" parameterType="java.util.Map" resultType="user">
        select *from bookuser where user_name=#{userName} and user_password=#{userPassword}
    </select>
    <select id="checkUser" parameterType="string" resultType="user">
        select *from bookuser where user_name=#{userName}
    </select>
    <insert id="register" parameterType="java.util.Map">
        INSERT INTO bookuser(user_name,user_password,user_level_id) VALUES (#{userName},#{userPassword},1)
    </insert>
    <update id="updateUser" parameterType="user">
        update bookuser set user_name=#{user_name},user_password=#{user_password} where user_id=#{user_id}
    </update>
</mapper>